%div{:style=>'margin-bottom:5px;overflow: auto;border-bottom:1px solid #CCC;padding-bottom:5px;'}
  %a{:name=>individual.name[0]}
  %div{:style=>'font-size:14px'}
    %strong
      = link_to individual.name, refinery.leaders_individual_path(individual)
    = link_to individual.name_chinese, refinery.leaders_individual_path(individual)
  - individual.groups.each do |group|
    %div{:rel=>'tooltip', :title=>group.power.short_name+' - '+group.name, :style=>'display:inline-block;width:10px;height:10px;background:'+group.power.color}
    = link_to refinery.leaders_group_path(group) do
      = group.power.short_name+' - '+group.name
