<%= render :partial => '/refinery/leaders/admin/actions' %>
<section id='records'>
<%= will_paginate @powers if Refinery::Leaders::Admin::PowersController.pageable? %>
<%= render 'sortable_list' %>
</section>
