%div{:style => 'margin-bottom:0px;background:#BBB;box-shadow:0 -1px 0 #AAA;padding:10px 5px 0;border-radius:5px 5px 0 0;text-align:center;background:url("/assets/grey_top_background.jpg")'}
  .row
    .span12
      .repertoire_head
        %div{:style=>'font-size:20px;line-height:30px;margin-bottom:10px;'}
          Répertoire des dirigeants
          %br
          de la République Populaire de Chine
        %div{:style=>'line-height:15px;color:#666;margin-bottom:10px;'}
          Directory of governement leaders
          %br
          of the People's Republic of China
.directory-content
  .row
    .span1
      &nbsp;
    .span2
      .repertoire_title
        Pouvoir Politique
      %a.no_deco{:href => '/leaders/powers/1'}
        .button_orga.pcc
          %div
            %div{:style=>'font-size:25px;margin-bottom:5px;'}
              PCC
            Parti Communiste Chinois
    .span2
      .repertoire_title
        Pouvoir Consultatif
      %a.no_deco{:href =>'/leaders/powers/2'}
        .button_orga.ccppc
          %div
            %div{:style=>'font-size:25px;margin-bottom:5px;'}
              CCPPC
            Conférence Consultative Politique du Peuple Chinois
    .span2
      .repertoire_title
        Pouvoir législatif et judiciaire
      %a.no_deco{:href =>'/leaders/powers/3'}
        .button_orga.apn
          %div
            %div{:style=>'font-size:25px;margin-bottom:5px;'}
              APN
            Assemblée Populaire Nationale
      %a.no_deco{:href =>'/leaders/powers/6'}
        .button_orga.cour
          %div
            Cour populaire suprême
            Parquet populaire suprême
    .span2
      .repertoire_title
        Pouvoir exécutif
      %a.no_deco{:href => '/leaders/powers/7'}
        .button_orga.gouv-central
          %div
            Gouvernement
            %div{:style=>'font-size:16px'}
              Central
            Conseil des Affaires d'Etat
      %a.no_deco{:href =>'/leaders/powers/5'}
        .button_orga.gouv-locaux
          %div
            Gouvernement
            %div{:style=>'font-size:16px'}
              locaux
    .span2
      .repertoire_title
        Diplomatie
      %a.no_deco{:href =>'/leaders/powers/4'}
        .button_orga.diplo
          %div
            Représentations
            %div{:style=>'font-size:16px'}
              Diplomatiques
            chinoises et françaises
    .span1
      &nbsp;
