.row
  .span12
    = render 'refinery/leaders/shared/menu'
    .directory-content
      .row
        .span3
          = render :partial => 'refinery/leaders/shared/power_menu', :locals => {:power => @power, :groups => @groups}
        .span9
          %div{:style=>'text-align:center;text-transform:uppercase;font-weight:bold;margin-bottom:20px;'}
            = @power.name
          = raw @power.description
